<div class="box-login">
    <form [formGroup]="service.formModel" autocomplete="off" (ngSubmit)="onSubmit()">
        <h3>Enjoy us with a new account</h3>

        <div class="box-input">
            <label for="username">Choose one cool username</label>
            <input type="username"  formControlName="UserName" placeholder="ex: nick_toledo">
        </div>


        <div class="box-input">
            <label for="email">Type your e-mail</label>
            <input type="email" placeholder="youremail@example.com" formControlName="Email">
        </div>

        <div formGroupName="Passwords">
            <div class="box-input">
                <label for="password">Enter a password</label>
                <input [(ngModel)]="password" type="password" placeholder="S0m3th1ng S#f3" formControlName="Password">
                <!-- <span *ngIf="!hasNumber">* Your password most have a number</span> -->
            </div>

            <div class="box-input">
                <label for="password">Repeat your password</label>
                <input [(ngModel)]="confirmPassword" (mouseleave) ="validateConfirmPassword()" type="password" placeholder="S0m3th1ng S#f3" formControlName="ConfirmPassword">
                <span *ngIf="!bothPasswordsAreEqual && canShowEqualPasswordsMsg" class="alert-msg-pswd">* You have to digit the same password</span>
            </div>
        </div>
        <span>Typing: {{ _password }}</span>
        <button type="submit" [disabled] >Register</button>
    </form>

    <span>Already have an account? <br> <a href="/">Just log in!</a> </span>

</div>