<div class="box-login">
    <form autocomplete="on" action="">
        <h3>Enjoy us with a new account</h3>

        <div class="box-input">
            <label for="email">Type your e-mail</label>
            <input type="email" autocomplete="off" placeholder="youremail@example.com">
        </div>

        <div class="box-input">
            <label for="password">Enter a password</label>
            <input type="password" placeholder="S0m3th1ng S#f3">
        </div>

        <div class="box-input">
            <label for="password">Repeat your password</label>
            <input type="password" placeholder="S0m3th1ng S#f3">
        </div>

        <button>Register</button>
    </form>

    <span>Already have an account? <br> <a href="/">Just log in!</a> </span>

</div>