<div class="box-login">
    <form autocomplete="on" action="">
        <h3>Come on, sign in!</h3>

        <div class="box-input">
            <label for="email">E-mail</label>
            <input type="email" autocomplete="off" placeholder="youremail@example.com">
        </div>

        <div class="box-input">
            <label for="password">Password</label>
            <input type="password" placeholder="S0m3th1ng S#f3">
        </div>

        <button>Login</button>

    </form>
    <span>Don't you have an account yet? <br> <a href="/user-registration">Create one!</a> </span>
</div>